@charset 'UTF-8';

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

* {
  font-family: "Roboto slab";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  transition: 0.5s;
  box-shadow: #000 4px 2px;
  text-align: center;
  margin: 8px auto;
  background-color: #7b68ee;
  width: 55%;
  border: 1.8px solid #000;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.title {
  box-shadow: #000 0px 2px 0px 1px;
  width: 50%;
  height: 60%;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 25px;
  margin: 8px auto;
}

.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 24px auto;
}

.txtInput {
  width: 30%;
  height: 20%;
  font-size: 16px;
  border: #000 1.5px solid;
}

.btnInput {
  height: 28px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
}
.answerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.answerContainer > p {
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.author {
  font-size: 24px;
  font-family: Arial;
}

.mediaButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8px auto;
}

.footerButtons {
  transition: 0.5s;
  width: 10%;
  height: 25px;
  background-color: #000;
  border-radius: 20px;
  margin: 0px 10px;
  align-self: center;
}

.mediaButtons {
  transition: 0.5s;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-family: Arial;
}

.container:hover {
  transition: 0.5s;
  box-shadow: #000 4px 2px;
  text-align: center;
  background-color: #9370db;
}

.txtInput:focus {
  outline: none;
  font-size: 16px;
}
